<h1><%= @task.title %></h1>
<h2><%= @task.details %></h2>
<input type="checkbox" value="true">
<p><%= link_to "Edit", edit_path(@task.id) %></p>
<p><%= link_to "Delete", task_path(@task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure"} %></p>
